<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feimang.month.dao.OrderBooksRelationMapper" >
  <resultMap id="BaseResultMap" type="com.feimang.month.pojo.OrderBooksRelation" >
    <constructor >
      <idArg column="O_B_RelationID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="O_P_RelationID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="UserID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="BookID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Relation_Status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    O_B_RelationID, O_P_RelationID,UserID, BookID, Relation_Status, CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fa_order_books_relation
    where O_B_RelationID = #{oBRelationid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fa_order_books_relation
    where O_B_RelationID = #{oBRelationid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.feimang.month.pojo.OrderBooksRelation" >
    insert into fa_order_books_relation (O_B_RelationID, O_P_RelationID,UserID, BookID,
      Relation_Status, CreateTime)
    values (#{oBRelationid,jdbcType=BIGINT}, #{oPRelationid,jdbcType=BIGINT},#{userid,jdbcType=BIGINT}, #{bookid,jdbcType=BIGINT},
      #{relationStatus,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.feimang.month.pojo.OrderBooksRelation" >
    insert into fa_order_books_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oBRelationid != null" >
        O_B_RelationID,
      </if>
      <if test="oPRelationid != null" >
        O_P_RelationID,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="bookid != null" >
        BookID,
      </if>
      <if test="relationStatus != null" >
        Relation_Status,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oBRelationid != null" >
        #{oBRelationid,jdbcType=BIGINT},
      </if>
      <if test="oPRelationid != null" >
        #{oPRelationid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=BIGINT},
      </if>
      <if test="relationStatus != null" >
        #{relationStatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feimang.month.pojo.OrderBooksRelation" >
    update fa_order_books_relation
    <set >
      <if test="oPRelationid != null" >
        O_P_RelationID = #{oPRelationid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        UserID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="bookid != null" >
        BookID = #{bookid,jdbcType=BIGINT},
      </if>
      <if test="relationStatus != null" >
        Relation_Status = #{relationStatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where O_B_RelationID = #{oBRelationid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feimang.month.pojo.OrderBooksRelation" >
    update fa_order_books_relation
    set O_P_RelationID = #{oPRelationid,jdbcType=BIGINT},
      BookID = #{bookid,jdbcType=BIGINT},
      Relation_Status = #{relationStatus,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where O_B_RelationID = #{oBRelationid,jdbcType=BIGINT}
  </update>

  <insert id="insertByFv_l" parameterType="map" >
   insert into fa_order_books_relations(O_P_RelationID,UserID,BookID)
   select #{oPRelationid},#{userid}, BookID from insertByFv_l
   WHERE UserID =#{userid}
   order by rand()
   limit 4
  </insert>

  <insert id="insertByFv_S" parameterType="map" >
    insert into fa_order_books_relations(O_P_RelationID,UserID,BookID)
    select #{oPRelationid},#{userid}, BookID from insertByFv_S
    WHERE UserID =#{userid}
    order by rand()
    limit 4
  </insert>

  <insert id="insertByFv_u" parameterType="map" >
    insert into fa_order_books_relations(O_P_RelationID,UserID,BookID)
    select #{oPRelationid},#{userid}, BookID from insertByFv_u
    WHERE UserID =#{userid}
    order by rand()
    limit 4
  </insert>
</mapper>