<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feimang.month.dao.UserTagMapper" >
  <resultMap id="BaseResultMap" type="com.feimang.month.pojo.UserTag" >
    <constructor >
      <idArg column="UtID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="UserID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="TagID" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    UtID, UserID, TagID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fa_usertag
    where UtID = #{utid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fa_usertag
    where UtID = #{utid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.feimang.month.pojo.UserTag" >
    insert into fa_usertag (UtID, UserID, TagID
      )
    values (#{utid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, #{tagid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.feimang.month.pojo.UserTag" >
    insert into fa_usertag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="utid != null" >
        UtID,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="tagid != null" >
        TagID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="utid != null" >
        #{utid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="tagid != null" >
        #{tagid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feimang.month.pojo.UserTag" >
    update fa_usertag
    <set >
      <if test="userid != null" >
        UserID = #{userid,jdbcType=BIGINT},
      </if>
      <if test="tagid != null" >
        TagID = #{tagid,jdbcType=INTEGER},
      </if>
    </set>
    where UtID = #{utid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feimang.month.pojo.UserTag" >
    update fa_usertag
    set UserID = #{userid,jdbcType=BIGINT},
      TagID = #{tagid,jdbcType=INTEGER}
    where UtID = #{utid,jdbcType=BIGINT}
  </update>

  <delete id="deleteByUserId" parameterType="java.lang.Long" >
    delete from fa_usertag
    where UserID = #{userid,jdbcType=BIGINT}
  </delete>

  <insert id="insertUserTagBatch" parameterType="list">
    INSERT into fm_usertag( UserID, TagID) VALUES
    <foreach collection="userTagList" item="item" index="index" separator=",">
      (
      #{item.userid},
      #{item.tagid}
      )
    </foreach>
  </insert>
</mapper>