<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feimang.book.dao.BookInfoMapper" >
  <resultMap id="BaseResultMap" type="com.feimang.book.pojo.BookInfo" >
    <constructor >
      <idArg column="BookID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ISBN" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ISBN10" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="BookName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="NameOther" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OriginTitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Author" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Translator" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Language" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Price" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Price_d" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="Publisher" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PubDate" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PubDateTime" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Version" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Page" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Packaging" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Format" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PrintPage" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Words" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Authorintro" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Catalog" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Summary" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Category" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Cover" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Average" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="Presscode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ImgFlg" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="IDType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="Ismore" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="IsComplete" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="IsApproved" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="BookStatus" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="LastUpdateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    BookID, ISBN, ISBN10, BookName, NameOther, OriginTitle, Author, Translator, Language, 
    Price, Price_d, Publisher, PubDate, PubDateTime, Version, Page, Packaging, Format, 
    PrintPage, Words, Authorintro, Catalog, Summary, Category, Cover, Average, Presscode, 
    ImgFlg, IDType, Ismore, IsComplete, IsApproved, BookStatus, CreateTime, LastUpdateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from bookinfo
    where BookID = #{bookid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from bookinfo
    where BookID = #{bookid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.feimang.book.pojo.BookInfo" >
    insert into bookinfo (BookID, ISBN, ISBN10, 
      BookName, NameOther, OriginTitle, 
      Author, Translator, Language, 
      Price, Price_d, Publisher, 
      PubDate, PubDateTime, Version, 
      Page, Packaging, Format, 
      PrintPage, Words, Authorintro, 
      Catalog, Summary, Category, 
      Cover, Average, Presscode, 
      ImgFlg, IDType, Ismore, 
      IsComplete, IsApproved, BookStatus, 
      CreateTime, LastUpdateTime)
    values (#{bookid,jdbcType=BIGINT}, #{isbn,jdbcType=VARCHAR}, #{isbn10,jdbcType=VARCHAR}, 
      #{bookname,jdbcType=VARCHAR}, #{nameother,jdbcType=VARCHAR}, #{origintitle,jdbcType=VARCHAR}, 
      #{author,jdbcType=VARCHAR}, #{translator,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{priceD,jdbcType=DECIMAL}, #{publisher,jdbcType=VARCHAR}, 
      #{pubdate,jdbcType=VARCHAR}, #{pubdatetime,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}, 
      #{page,jdbcType=VARCHAR}, #{packaging,jdbcType=VARCHAR}, #{format,jdbcType=VARCHAR}, 
      #{printpage,jdbcType=INTEGER}, #{words,jdbcType=INTEGER}, #{authorintro,jdbcType=VARCHAR}, 
      #{catalog,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{category,jdbcType=INTEGER}, 
      #{cover,jdbcType=VARCHAR}, #{average,jdbcType=DOUBLE}, #{presscode,jdbcType=VARCHAR}, 
      #{imgflg,jdbcType=INTEGER}, #{idtype,jdbcType=VARCHAR}, #{ismore,jdbcType=TINYINT}, 
      #{iscomplete,jdbcType=TINYINT}, #{isapproved,jdbcType=INTEGER}, #{bookstatus,jdbcType=TINYINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{lastupdatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.feimang.book.pojo.BookInfo" >
    insert into bookinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookid != null" >
        BookID,
      </if>
      <if test="isbn != null" >
        ISBN,
      </if>
      <if test="isbn10 != null" >
        ISBN10,
      </if>
      <if test="bookname != null" >
        BookName,
      </if>
      <if test="nameother != null" >
        NameOther,
      </if>
      <if test="origintitle != null" >
        OriginTitle,
      </if>
      <if test="author != null" >
        Author,
      </if>
      <if test="translator != null" >
        Translator,
      </if>
      <if test="language != null" >
        Language,
      </if>
      <if test="price != null" >
        Price,
      </if>
      <if test="priceD != null" >
        Price_d,
      </if>
      <if test="publisher != null" >
        Publisher,
      </if>
      <if test="pubdate != null" >
        PubDate,
      </if>
      <if test="pubdatetime != null" >
        PubDateTime,
      </if>
      <if test="version != null" >
        Version,
      </if>
      <if test="page != null" >
        Page,
      </if>
      <if test="packaging != null" >
        Packaging,
      </if>
      <if test="format != null" >
        Format,
      </if>
      <if test="printpage != null" >
        PrintPage,
      </if>
      <if test="words != null" >
        Words,
      </if>
      <if test="authorintro != null" >
        Authorintro,
      </if>
      <if test="catalog != null" >
        Catalog,
      </if>
      <if test="summary != null" >
        Summary,
      </if>
      <if test="category != null" >
        Category,
      </if>
      <if test="cover != null" >
        Cover,
      </if>
      <if test="average != null" >
        Average,
      </if>
      <if test="presscode != null" >
        Presscode,
      </if>
      <if test="imgflg != null" >
        ImgFlg,
      </if>
      <if test="idtype != null" >
        IDType,
      </if>
      <if test="ismore != null" >
        Ismore,
      </if>
      <if test="iscomplete != null" >
        IsComplete,
      </if>
      <if test="isapproved != null" >
        IsApproved,
      </if>
      <if test="bookstatus != null" >
        BookStatus,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="lastupdatetime != null" >
        LastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookid != null" >
        #{bookid,jdbcType=BIGINT},
      </if>
      <if test="isbn != null" >
        #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="isbn10 != null" >
        #{isbn10,jdbcType=VARCHAR},
      </if>
      <if test="bookname != null" >
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="nameother != null" >
        #{nameother,jdbcType=VARCHAR},
      </if>
      <if test="origintitle != null" >
        #{origintitle,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="translator != null" >
        #{translator,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="priceD != null" >
        #{priceD,jdbcType=DECIMAL},
      </if>
      <if test="publisher != null" >
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null" >
        #{pubdate,jdbcType=VARCHAR},
      </if>
      <if test="pubdatetime != null" >
        #{pubdatetime,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="page != null" >
        #{page,jdbcType=VARCHAR},
      </if>
      <if test="packaging != null" >
        #{packaging,jdbcType=VARCHAR},
      </if>
      <if test="format != null" >
        #{format,jdbcType=VARCHAR},
      </if>
      <if test="printpage != null" >
        #{printpage,jdbcType=INTEGER},
      </if>
      <if test="words != null" >
        #{words,jdbcType=INTEGER},
      </if>
      <if test="authorintro != null" >
        #{authorintro,jdbcType=VARCHAR},
      </if>
      <if test="catalog != null" >
        #{catalog,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=INTEGER},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="average != null" >
        #{average,jdbcType=DOUBLE},
      </if>
      <if test="presscode != null" >
        #{presscode,jdbcType=VARCHAR},
      </if>
      <if test="imgflg != null" >
        #{imgflg,jdbcType=INTEGER},
      </if>
      <if test="idtype != null" >
        #{idtype,jdbcType=VARCHAR},
      </if>
      <if test="ismore != null" >
        #{ismore,jdbcType=TINYINT},
      </if>
      <if test="iscomplete != null" >
        #{iscomplete,jdbcType=TINYINT},
      </if>
      <if test="isapproved != null" >
        #{isapproved,jdbcType=INTEGER},
      </if>
      <if test="bookstatus != null" >
        #{bookstatus,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feimang.book.pojo.BookInfo" >
    update bookinfo
    <set >
      <if test="isbn != null" >
        ISBN = #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="isbn10 != null" >
        ISBN10 = #{isbn10,jdbcType=VARCHAR},
      </if>
      <if test="bookname != null" >
        BookName = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="nameother != null" >
        NameOther = #{nameother,jdbcType=VARCHAR},
      </if>
      <if test="origintitle != null" >
        OriginTitle = #{origintitle,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        Author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="translator != null" >
        Translator = #{translator,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        Language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        Price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="priceD != null" >
        Price_d = #{priceD,jdbcType=DECIMAL},
      </if>
      <if test="publisher != null" >
        Publisher = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null" >
        PubDate = #{pubdate,jdbcType=VARCHAR},
      </if>
      <if test="pubdatetime != null" >
        PubDateTime = #{pubdatetime,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        Version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="page != null" >
        Page = #{page,jdbcType=VARCHAR},
      </if>
      <if test="packaging != null" >
        Packaging = #{packaging,jdbcType=VARCHAR},
      </if>
      <if test="format != null" >
        Format = #{format,jdbcType=VARCHAR},
      </if>
      <if test="printpage != null" >
        PrintPage = #{printpage,jdbcType=INTEGER},
      </if>
      <if test="words != null" >
        Words = #{words,jdbcType=INTEGER},
      </if>
      <if test="authorintro != null" >
        Authorintro = #{authorintro,jdbcType=VARCHAR},
      </if>
      <if test="catalog != null" >
        Catalog = #{catalog,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        Summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        Category = #{category,jdbcType=INTEGER},
      </if>
      <if test="cover != null" >
        Cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="average != null" >
        Average = #{average,jdbcType=DOUBLE},
      </if>
      <if test="presscode != null" >
        Presscode = #{presscode,jdbcType=VARCHAR},
      </if>
      <if test="imgflg != null" >
        ImgFlg = #{imgflg,jdbcType=INTEGER},
      </if>
      <if test="idtype != null" >
        IDType = #{idtype,jdbcType=VARCHAR},
      </if>
      <if test="ismore != null" >
        Ismore = #{ismore,jdbcType=TINYINT},
      </if>
      <if test="iscomplete != null" >
        IsComplete = #{iscomplete,jdbcType=TINYINT},
      </if>
      <if test="isapproved != null" >
        IsApproved = #{isapproved,jdbcType=INTEGER},
      </if>
      <if test="bookstatus != null" >
        BookStatus = #{bookstatus,jdbcType=TINYINT},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null" >
        LastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where BookID = #{bookid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feimang.book.pojo.BookInfo" >
    update bookinfo
    set ISBN = #{isbn,jdbcType=VARCHAR},
      ISBN10 = #{isbn10,jdbcType=VARCHAR},
      BookName = #{bookname,jdbcType=VARCHAR},
      NameOther = #{nameother,jdbcType=VARCHAR},
      OriginTitle = #{origintitle,jdbcType=VARCHAR},
      Author = #{author,jdbcType=VARCHAR},
      Translator = #{translator,jdbcType=VARCHAR},
      Language = #{language,jdbcType=VARCHAR},
      Price = #{price,jdbcType=VARCHAR},
      Price_d = #{priceD,jdbcType=DECIMAL},
      Publisher = #{publisher,jdbcType=VARCHAR},
      PubDate = #{pubdate,jdbcType=VARCHAR},
      PubDateTime = #{pubdatetime,jdbcType=INTEGER},
      Version = #{version,jdbcType=VARCHAR},
      Page = #{page,jdbcType=VARCHAR},
      Packaging = #{packaging,jdbcType=VARCHAR},
      Format = #{format,jdbcType=VARCHAR},
      PrintPage = #{printpage,jdbcType=INTEGER},
      Words = #{words,jdbcType=INTEGER},
      Authorintro = #{authorintro,jdbcType=VARCHAR},
      Catalog = #{catalog,jdbcType=VARCHAR},
      Summary = #{summary,jdbcType=VARCHAR},
      Category = #{category,jdbcType=INTEGER},
      Cover = #{cover,jdbcType=VARCHAR},
      Average = #{average,jdbcType=DOUBLE},
      Presscode = #{presscode,jdbcType=VARCHAR},
      ImgFlg = #{imgflg,jdbcType=INTEGER},
      IDType = #{idtype,jdbcType=VARCHAR},
      Ismore = #{ismore,jdbcType=TINYINT},
      IsComplete = #{iscomplete,jdbcType=TINYINT},
      IsApproved = #{isapproved,jdbcType=INTEGER},
      BookStatus = #{bookstatus,jdbcType=TINYINT},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      LastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP}
    where BookID = #{bookid,jdbcType=BIGINT}
  </update>
  <select id="getBooksByBookIds" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from bookinfo
    where BookID in
    <foreach item="bookIdList" index="index" collection="list" open="(" separator="," close=")">
        #{bookIdList}
    </foreach>
  </select>
</mapper>