<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>测评</title>
    <link rel="stylesheet" href="css/common.css">
  </head>
    <body>
      <div id="app" v-cloak>
        <div class="ad_pic" style="background-image: url(images/cover1.jpg)">
          <div class="ad_msg">{{second}}秒后自动跳转</div>
          <a href="evaluation.html" class="ad_btn">跳过</a>
        </div>
      </div>
    </body>
  </html>
<script src="plugins/vue2.5.9.js"></script>
<script src="plugins/axios.min.js"></script>
<script src="plugins/vant.min.js"></script>
<script src="plugins/ydui.flexible1.1.3.js"></script>
<script src="plugins/moment-with-locales.min.js"></script>
<script src="plugins/httpVueLoader.js"></script>
<script src="plugins/lodash.min.js"></script>
<script src="js/fetch.js"></script>
<script src="js/common.js"></script>

<script>
  // Vue.use(vant.Lazyload).use(vant.Loading).use(vant.Dialog);
  new Vue({
    el: '#app',
    mounted: function() {
      this.countdown();
    },
    data: {
      second:6
    },
    methods: {
      countdown:function () {
        var self = this;
        if (this.second==0) {
          window.location.href="evaluation.html";
        } else{
          this.second--;
          setTimeout(function () {
            self.countdown()
          },1000)
        }
      }
    }
  })
</script>