<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>阅读学院</title>
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/du.css">
  </head>
    <body class="bgimg">
      <div id='loading'> <div class='line-scale-pulse-out'> <i></i><i></i><i></i><i></i><i></i> </div></div>
      
      <div id="app" class="p30">
          <div class="h20"></div>
          <ul class="my_list" >
            <li><a href="#"><span>阅读方法1</span></a></li>
            <li><a href="#"><span>阅读方法2</span></a></li>
          </ul>
        </div>
      </div>
    </body>
  </html>
<script src="plugins/vue2.5.9.js"></script>
<script src="plugins/axios.min.js"></script>
<script src="plugins/vant.min.js"></script>
<script src="plugins/ydui.flexible1.1.3.js"></script>
<script src="plugins/moment-with-locales.min.js"></script>
<script src="plugins/httpVueLoader.js"></script>
<script src="plugins/lodash.min.js"></script>
<script src="plugins/echarts.min.js"></script>
<script src="js/fetch.js"></script>
<script src="js/common.js"></script>

<script>
  Vue.use(vant.Lazyload);

  new Vue({
    
    el: '#app',
    mounted: function() {
      
    },
    data: {
      
    },
    methods: {}
  })
</script>

