<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>分享_阅读计划</title>
    <link rel="stylesheet" href="css/common.css">
  </head>
    <body class="bgimg">
      <div id='loading'> <div class='line-scale-pulse-out'> <i></i><i></i><i></i><i></i><i></i> </div></div>
      
      <div id="app" class="p30">
          <div class="share_result_top">
            <img class="logo" src="images/logo_mini.png">
            <div class="h30"></div>
            <div class="share_result_msg">我的阅读力稳步提升中……一起来啊~</div>
            <div class="h10"></div>
            <a href="my.html" class="user">
              <div class="pic"><img v-lazy="my.src||'images/user.png'"></div>
              <span class="name">{{my.name}}</span>
              <div class="tit">阅读力又增强啦</div>
            </a>
          </div>
            
            
          
          <du_chart :data="chart_data" ref="chart"></du_chart>
         
          <div class="share_result_msg" style="font-weight: bold;">怕什么真理无穷，进一步有进一步的欢喜~</div>
          <div class="h20"></div>
          <div class="share_result_wx">
            <img src="images/wx.png">
            <br>飞芒书屋公众号
          </div>
        </div>
      </div>
    </body>
  </html>
<script src="plugins/vue2.5.9.js"></script>
<script src="plugins/axios.min.js"></script>
<script src="plugins/vant.min.js"></script>
<script src="plugins/ydui.flexible1.1.3.js"></script>
<script src="plugins/moment-with-locales.min.js"></script>
<script src="plugins/httpVueLoader.js"></script>
<script src="plugins/lodash.min.js"></script>
<script src="plugins/echarts.min.js"></script>
<script src="js/fetch.js"></script>
<script src="js/common.js"></script>

<script>
  Vue.use(vant.Lazyload);

  new Vue({
    components: {
      'du_user_mini': 'url:component/du_user_mini.vue',
      'du_chart': 'url:component/du_chart.vue'
    },
    el: '#app',
    mounted: function() {

      var self = this;
      get("/chart", {} )
      .then(
          function (res) {
            self.chart_data= res.list;
            self.$refs.chart.init(self.chart_data);
          }
      )

      get("/user", {} )
      .then(
          function (res) {
            self.my = res;
          },
          function (err) {
            console.log(err);
          }
      )
    },
    data: {
      chart_data:[],
      my:{}
    },
    methods: {}
  })
</script>

