<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>测评</title>
    <link rel="stylesheet" href="css/common.css">
  </head>
    <body>
      <div id="app" v-cloak>
        
        <section class="s_cont">
          <h2>2018飞芒月读计划</h2>
          <p class="cont">人类进行传统阅读时，主要使用左脑的功能；而在采用“速读”方式阅读时，则充分调动了是左右脑的功能作用，各自发挥左右脑的优势共同进行文字信息的形象辨识、意义记忆和理解，所以“速读”又被称之为“全脑速读”。</p>

          <div class="btns1 postion" v-if="flag">查看我的知识结构</div>
        </section>
        <van-dialog v-model="show" close-on-click-overlay @confirm="onConfirm">
          <van-field
            v-model="acount"
            placeholder="请输入您的飞芒卡号码"
            :error-message="error_message"
          />
          
        </van-dialog>
        <div class="h50"></div>
        <div class="h50"></div>
        <div class="h50"></div>
        <div class="h50"></div>
        <div class="h50"></div>
        <div class="btn_w2" @click="show=true">飞芒卡订阅</div>
        
        
      </div>
    </body>
  </html>
<script src="plugins/vue2.5.9.js"></script>
<script src="plugins/axios.min.js"></script>
<script src="plugins/vant.min.js"></script>
<script src="plugins/ydui.flexible1.1.3.js"></script>
<script src="plugins/moment-with-locales.min.js"></script>
<script src="plugins/httpVueLoader.js"></script>
<script src="plugins/lodash.min.js"></script>
<script src="js/fetch.js"></script>
<script src="js/common.js"></script>

<script>
  // Vue.use(vant.Lazyload).use(vant.Loading).use(vant.Dialog);
  new Vue({
    components: {
      'du_geo': 'url:component/du_geo.vue'
    },
    el: '#app',
    mounted: function() {
      
    },
    data: {
      flag:1,
      show:false,
      error_message:"",
      acount:"",
      
    },
    methods: {
      onConfirm:function () {
        // ajax 请求验证卡号是否存在
        if (this.acount==1) {
          this.show = true;
          this.error_message = "输入的飞芒卡号码无效"
        } else {
          this.error_message = ""
          this.show = false;
        }
        
      }
      

      

      

    }
  })
</script>