<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feimang.userstudy.dao.ContentCollectionMapper" >
  <resultMap id="BaseResultMap" type="com.feimang.userstudy.pojo.ContentCollection" >
    <constructor >
      <idArg column="CollectionID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Content_BaseID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="Fromuid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    CollectionID, Content_BaseID, Fromuid, CreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fm_content_collection
    where CollectionID = #{collectionid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fm_content_collection
    where CollectionID = #{collectionid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.feimang.userstudy.pojo.ContentCollection" >
    insert into fm_content_collection (CollectionID, Content_BaseID, Fromuid, 
      CreateTime)
    values (#{collectionid,jdbcType=BIGINT}, #{contentBaseid,jdbcType=BIGINT}, #{fromuid,jdbcType=BIGINT}, 
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.feimang.userstudy.pojo.ContentCollection" >
    insert into fm_content_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="collectionid != null" >
        CollectionID,
      </if>
      <if test="contentBaseid != null" >
        Content_BaseID,
      </if>
      <if test="fromuid != null" >
        Fromuid,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="collectionid != null" >
        #{collectionid,jdbcType=BIGINT},
      </if>
      <if test="contentBaseid != null" >
        #{contentBaseid,jdbcType=BIGINT},
      </if>
      <if test="fromuid != null" >
        #{fromuid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feimang.userstudy.pojo.ContentCollection" >
    update fm_content_collection
    <set >
      <if test="contentBaseid != null" >
        Content_BaseID = #{contentBaseid,jdbcType=BIGINT},
      </if>
      <if test="fromuid != null" >
        Fromuid = #{fromuid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CollectionID = #{collectionid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feimang.userstudy.pojo.ContentCollection" >
    update fm_content_collection
    set Content_BaseID = #{contentBaseid,jdbcType=BIGINT},
      Fromuid = #{fromuid,jdbcType=BIGINT},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where CollectionID = #{collectionid,jdbcType=BIGINT}
  </update>
  <select id="selectByFromuidAndContentbaseId" parameterType="com.feimang.userstudy.pojo.ContentCollection" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from fm_content_collection
    where Fromuid = #{fromuid}
    AND content_baseID = #{contentBaseid}
  </select>
  <select id="selectAllByFromUid" parameterType="long" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from fm_content_collection
    where fromuid = #{userId}
  </select>
  <update id="delShareCount" parameterType="long">
    UPDATE  fm_content_base  SET ShareCount=ShareCount-1 WHERE Content_BaseID = #{contentBaseid}
  </update>
  <update id="addShareCount" parameterType="long">
    UPDATE  fm_content_base  SET ShareCount=ShareCount+1 WHERE Content_BaseID = #{contentBaseid}
  </update>
</mapper>