<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feimang.userstudy.dao.UserBookMapper" >
  <resultMap id="BaseResultMap" type="com.feimang.userstudy.pojo.UserBook" >
    <constructor >
      <idArg column="UBID" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="Fromuid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="BookID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="CreateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="SourceBook" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="IsTag" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    UBID, Fromuid, BookID, CreateTime, SourceBook,IsTag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fm_userbook
    where UBID = #{ubid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fm_userbook
    where UBID = #{ubid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.feimang.userstudy.pojo.UserBook" >
    insert into fm_userbook (UBID, Fromuid, BookID, 
      CreateTime, SourceBook,IsTag
      )
    values (#{ubid,jdbcType=INTEGER}, #{fromuid,jdbcType=BIGINT}, #{bookid,jdbcType=BIGINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{sourcebook,jdbcType=INTEGER},#{isTag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.feimang.userstudy.pojo.UserBook" >
    insert into fm_userbook
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ubid != null" >
        UBID,
      </if>
      <if test="fromuid != null" >
        Fromuid,
      </if>
      <if test="bookid != null" >
        BookID,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="sourcebook != null" >
        SourceBook,
      </if>
      <if test="isTag != null" >
        IsTag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ubid != null" >
        #{ubid,jdbcType=INTEGER},
      </if>
      <if test="fromuid != null" >
        #{fromuid,jdbcType=BIGINT},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sourcebook != null" >
        #{sourcebook,jdbcType=INTEGER},
      </if>
      <if test="isTag != null" >
        #{isTag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.feimang.userstudy.pojo.UserBook" >
    update fm_userbook
    <set >
      <if test="fromuid != null" >
        Fromuid = #{fromuid,jdbcType=BIGINT},
      </if>
      <if test="bookid != null" >
        BookID = #{bookid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sourcebook != null" >
        SourceBook = #{sourcebook,jdbcType=INTEGER},
      </if>
      <if test="isTag != null" >
        IsTag = #{isTag,jdbcType=INTEGER},
      </if>
    </set>
    where UBID = #{ubid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.feimang.userstudy.pojo.UserBook" >
    update fm_userbook
    set Fromuid = #{fromuid,jdbcType=BIGINT},
      BookID = #{bookid,jdbcType=BIGINT},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      SourceBook = #{sourcebook,jdbcType=INTEGER},
      IsTag = #{isTag,jdbcType=INTEGER}
    where UBID = #{ubid,jdbcType=INTEGER}
  </update>
  <insert id="addUserBook" parameterType="list">
    replace into fm_userbook(Fromuid,BookID,SourceBook,IsTag) VALUES
    <foreach collection="userBooks" item="item" index="index" separator=",">
      (
      #{item.fromuid},
      #{item.bookid},
      #{item.sourcebook},
      #{item.isTag}
      )
    </foreach>
  </insert>
  <update id="checkError" parameterType="long">
    UPDATE fm_userbook A LEFT JOIN fm_booktag_relation B
    ON A.Fromuid=B.Fromuid AND A.BookID=B.BookID
    SET IsTag=1
    WHERE A.Fromuid=#{userId} AND ID IS NOT NULL AND IsTag=0
  </update>

</mapper>